In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [6]:
aaa = [[1,2,2,3,4], ['a,d,g,e,f'], [3,3,6,3,6]]
a = np.array(aaa)

a

<ipython-input-6-cb2c7946bcb2>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  a = np.array(aaa)

array([list([1, 2, 2, 3, 4]), list(['a,d,g,e,f']), list([3, 3, 6, 3, 6])],
      dtype=object)

In [7]:
a = pd.DataFrame(a)

In [8]:
a

                 0
0  [1, 2, 2, 3, 4]
1      [a,d,g,e,f]
2  [3, 3, 6, 3, 6]